<div class="prose flex-col max-w-none flex w-full">
  <h1>Emails sent</h1>
 

<div class="my-4 flex flex-row-reverse">
  <div class="self-center">
    <%= link_to "New Email", new_email_path, class: "no-underline text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
  </div>
	
 <div class="self-center">
	<%= link_to "New Template", new_template_path, class: "no-underline text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
 </div>
</div>


<% unless @template.nil? %>
	<div class="self-center">
		<p>All email will be using <span class="text-orange-600"><%= @template.name %></span> template. 
		If you want to select a different template, <%= link_to sanitize("go here &rarr;"), templates_path %></p>	
	</div>
	 <div class="mb-6 rounded-md bg-amber-500 p-3 text-center leading-3">
		 <small class="text-sm italic text-stone-50">The selected Newsletter template will not be shown in the preview window below. However, the selected Newsletter
		 		template will be used when you create a <%= link_to "New Email", new_email_path %>.</small>
	</div>
<% end %>

  

  <div id="preview-pane" class="flex-row flex">
    <div id="emails" class="flex-none">
      <% @emails.each do |email| %>
        <div class="border-b pr-8 hover:bg-sky-100 hover:pl-2">
          <div><%= link_to email.subject, email_path(email), data: { turbo_frame: "email-details" } %></div>
          <div class="text-sm text-slate-300"><%= email.created_at.to_fs(:short) %></div>
        </div>
      <% end %>
    </div>
    <div id="email-preview" class="flex-auto border p-8 h-[60vh]">
      <%= turbo_frame_tag "email-details" do %>
        THIS IS THE PREVIEW
      <% end %>
    </div
  </div>
</div>